body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #202028;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    border: 1px solid #fff;
}

